* {
    margin: 0px;
    padding: 0px;
}
body {
    background: linear-gradient(90deg, #ffffff, #aaaaaa);
}
h1 {
    font-family: sans-serif, monospace;
    text-align: center;
}
div.MySites {
    display: inline-block;
    
    border: 10px solid black;
    padding: 10px;
}