* {
    padding: 0px;
    margin: 0px;
}

canvas {
    position: absolute;
    border: black solid 3px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    image-rendering: pixelated;
}