@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    font-family: "VT323", monospace;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 50px;
    padding-top: 10%;
}
body {
    text-align: center;
    background-color: #00b4f1;
}

.btn {
    position: relative;
    display: block;
    border:5px black dashed;
    box-shadow: -10px 10px 10px black;   
    font-size: 400%;
    width: 50%;
    left: 25%;
}

.fundo {
    position: absolute;
    background-image:url("../IMGS/cho-export.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size:50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: -10px 10px 10px black;   
    
}
.nv {
    position: absolute;
    background-image:url("../IMGS/nuvem-export.png");
    background-repeat: repeat;
    background-size: 20%;
    display: block;
    top: 0px;
    width: 100%;
    height: 15%;
    bbox-shadow: -10px 10px 10px black;
}
 .bolo {
    position: absolute;
    background-image: url("../IMGS/R-export-export.png");
    background-repeat: repeat;
    background-size: 80px;
    background-position: bottom;
    width: 80px;
    height: 60px;
 }
  